body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-image {
  background-image: url('image3.jpg'); /* Replace 'background.jpg' with your image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  text-align: center;
  color: white;

}

.box {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between the box and button */
}

.title-box {
  background-color: rgba(7, 7, 7, 0.75); /* Semi-transparent black background */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between the box and button */
}

.title {
  font-size: 75px !important; 
}


.button {
  display: inline-block;
  background-color: #008080;
  color: white;
  padding: 15px 30px; 
  font-size: 24px; 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005353;
}
